<h2>Person List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
            <tr *ngFor = "let person of persons" >
                <td> {{ person.id }} </td>
                <td> {{ person.name }} </td>
                <td> {{ person.city }} </td>
                <td> 
                    <button (click) = "updatePerson(person.id)" class="btn btn-info">Update</button>
                    <button (click) = "deletePerson(person.id)" class="btn btn-danger" style="margin-left:10px">Delete</button>
                    <button (click) = "personDetails(person.id)" class="btn btn-success" style="margin-left:10px">View</button>
                </td>
            </tr>
        </tbody>
</table>